In [1]:
#Introduction of list data type:

In [2]:
#Defination:- List is a collection of items declared in a particular order

In [3]:
#Classificaiton: it is classified as immutable data type.

In [4]:
#How to define the list .....? [ ]  (square bracket)

In [6]:
students=['anil','kumar','sreeja','keerthi','rafi','simran']

In [7]:
print(students)

['anil', 'kumar', 'sreeja', 'keerthi', 'rafi', 'simran']

In [10]:
type(students)

list

In [12]:
print(students)

['anil', 'kumar', 'sreeja', 'keerthi', 'rafi', 'simran']

In [14]:
#  0       1         2          3        4        5  (Indexing)

In [15]:
# requirement:- I want to access kumar name for the above list

In [17]:
# Introduction to Indexing ..... 0,1,2,3,4,.......n

In [19]:
print(students[1])

kumar

In [20]:
# i want to access keerthi name from the above list ....?

In [21]:
print(student[3])

keerthi

In [22]:
#  1. How to add new element to the list .....?

In [23]:
#  2. How to modify the element in the list ......?

In [24]:
#  3. How to delete the element in the list .......?

In [25]:
print(students)

['anil', 'kumar', 'sreeja', 'keerthi', 'rafi', 'simran']

In [26]:
#requirement i want to add naveen to above list.....?

In [27]:
students.append('naveen')

In [28]:
print(students)

['anil', 'kumar', 'sreeja', 'keerthi', 'rafi', 'simran', 'naveen']

In [29]:
# requriement:- i want to add adil to the above list ....?

In [30]:
students.append('adil')

In [31]:
print(students)

['anil', 'kumar', 'sreeja', 'keerthi', 'rafi', 'simran', 'naveen', 'adil']

In [32]:
# requirment I want to add pallavi to the second index

In [33]:
students.insert(2,'pallavi')

In [35]:
print(students)

['anil', 'kumar', 'pallavi', 'sreeja', 'keerthi', 'rafi', 'simran', 'naveen', 'adil']

In [40]:
print(students[2])

pallavi

In [41]:
# what is the difference between append and insert method in a list

In [42]:
# 2. How to modify element in the list ....?

In [43]:
print(students)

['anil', 'kumar', 'pallavi', 'sreeja', 'keerthi', 'rafi', 'simran', 'naveen', 'adil']

In [44]:
# iwant to change sreeja name to meghna

In [46]:
print(students[3])

sreeja

In [50]:
students[3]='meghna'

In [51]:
print(students)

['anil', 'kumar', 'pallavi', 'meghna', 'keerthi', 'rafi', 'simran', 'naveen', 'adil']

In [52]:
# 3. How to delete the elements in the list.....?

In [55]:
# i want to delete anil name from the lsit .....?

In [56]:
del students[0]

In [57]:
print(students)

['kumar', 'pallavi', 'meghna', 'keerthi', 'rafi', 'simran', 'naveen', 'adil']